html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 100%;
  background: black;
  position: relative;
  top: 0;
  bottom: 0;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.receipt {
  width: 58mm;
  background: white;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
}

.receipt section {
  margin-left: 8px;
  margin-right: 8px;
}

.receipt .left {
  text-align: left;
}

.receipt .right {
  text-align: right;
}

.receipt p.left {
  float: left;
}

.receipt .store p {
  font-size: 32px;
  font-weight: bold;
}

.receipt .atfield {
  margin-top: 8px;
  margin-bottom: 8px;
}

.receipt .header {
  height: 8px;
}

.receipt .footer {
  height: 16px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

hr.dot {
  border-top: 1px dotted #bbb;
}
