.under {
  border-bottom:1px #040404 solid;
}

body {
  color: #040404;
}

#title {
  font-size: 24px;
}

#name {
  text-align: center;
  font-size: 24px;
}

.right {
  text-align: right;
}

.dotted {
  padding: 30px;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.enclose {
  color: #696969;
  border: 1px #696969 dotted;
  text-align: center;
}

#price {
  text-align: right;
}

.square {
  padding: 10px;
}

.address {
  word-wrap: break-word;
}

#content {
  table-layout: fixed;
  width: 100%;
}
